.about {
  padding: 110px 70px;
}
@media screen and (max-width: 946px) {
  .about {
    padding: 90px 50px;
  }
}
@media screen and (max-width: 650px) {
  .about {
    padding: 70px 18px;
  }
}
.about__title {
  font-weight: 400;
  font-size: 22px;
  line-height: 27px;
  letter-spacing: -0.04em;
  padding-bottom: 23px;
  border-bottom: 1px solid;
  margin: 0;
}
.about__description {
  padding-top: 70px;
  display: flex;
  justify-content: space-between;
}
@media screen and (max-width: 330px) {
  .about__description {
    flex-direction: column;
  }
}

.about__column {
  padding-right: 40px;
  width: 550px;
}
.about__column:last-of-type {
  padding-right: 0;
}
@media screen and (max-width: 946px) {
  .about__column {
    padding-right: 30px;
  }
}
@media screen and (max-width: 330px) {
  .about__column {
    max-width: 284px;
    padding-right: 0;
  }
}

.about__subtitle {
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: -0.04em;
  margin: 0;
  padding-bottom: 26px;
}
@media screen and (max-width: 946px) {
  .about__subtitle {
    padding-bottom: 22px;
  }
}
@media screen and (max-width: 650px) {
  .about__subtitle {
    padding-bottom: 16px;
    font-size: 18px;
    line-height: 22px;
  }
}

.about__annotation {
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  margin: 0;
}
@media screen and (max-width: 946px) {
  .about__annotation {
    font-size: 12px;
    line-height: 18px;
  }
}
@media screen and (max-width: 650px) {
  .about__annotation {
    padding-bottom: 56px;
    font-size: 11px;
    line-height: 16px;
  }
}

.about__diagram {
  max-width: 1280px;
  padding-top: 110px;
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: minmax(100px, 228px) minmax(184px, 912px);
}
@media screen and (max-width: 800px) {
  .about__diagram {
    grid-template-columns: minmax(100px, 140px) minmax(100px, 528px);
  }
}
@media screen and (max-width: 650px) {
  .about__diagram {
    padding-top: 4px;
  }
}
@media screen and (max-width: 330px) {
  .about__diagram {
    grid-template-columns: minmax(50px, 100px) minmax(92px, 184px);
  }
}

.about__week {
  margin: 0;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
}
@media screen and (max-width: 330px) {
  .about__week {
    font-size: 11px;
    line-height: 13px;
  }
}

.about__part {
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #a0a0a0;
  margin: 14px 0 0;
  text-align: center;
}
@media screen and (max-width: 330px) {
  .about__part {
    font-size: 11px;
    line-height: 13px;
  }
}
.about__week-backend {
  background-color: black;
  padding: 9px;
  color: white;
}
.about__week-frontend {
  padding: 9px;
  background-color: #f2f2f2;
}
