.popup {
    background: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    display: flex;
    visibility: hidden;
    opacity: 0;
    transition: visibility 0.7s, opacity 0.5s;
    align-items: center;
    justify-content: center;
}
.popup__container {
    background-color: white;
    width: 430px;
    border-radius: 10px;
    box-shadow: 0 0 25px rgba(0, 0 , 0, 0.15);
    display: flex;
    flex-direction: column;
}
@media screen and (max-width: 620px) {
    .popup__container {
       width: 282px;
    }
}
.popup__exit {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 0;
    background: transparent;
    padding: 0;
    position: fixed;
    margin-top: -40px;
    margin-left: 438px;
    cursor: pointer;
}
.popup__exit:hover {
    opacity: 0.6;
}
@media screen and (max-width: 620px) {
    .popup__exit {
        margin-top: -36px;
        margin-left: 262px;
    }
}
@media screen and (max-width: 620px) {
    .popup__exit-sign {
        width: 20px;
        height: 20px;
    }
}
.popup__box {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.popup__message {
    font-weight: 900;
    font-size: 24px;
    line-height: 29px;
    margin: 32px 36px 60px;
    text-align: center;
}